<section class="section">
    <div class="row">
        <p class="col-12">
            This is my blog. I will be posting my projects here and detailing how I did it and anything else related I guess. 
            Maybe other things to like robotics or food if I want to.
        </p>
        <img class="col-12 text-image align-center" src="/assets/pepe-music.gif"> 
    </div>
    <br>
</section>

<section class="section">
    <div class="row">
        <p class="col-12">
            If you like what I do and want to support me you can donate to me on this <a class="text-link" href="https://donate.grimfilerino.com">page</a>
        </p>
    </div>

    <div class="row">
        <p class="col-12">If you like animals, the planet or 
            just children maybe you should check-out this <a class="text-link" href="https://donate.grimfilerino.com">page</a> where you can also donate to
            World Wildlife Foundation, save the children and many more.
        </p>
        <img class="col-12 text-image align-center border gold" src="/assets/hedgehog.jpg"
    </div>
    <br>
</section>



