<section class="section">
    <div class="row">
        <p class="col-12 align-center">
            This is my blog. I will be posting my projects here and detailing how I did it and anything else related I guess. 
            Maybe other things to like robotics or food if I want to.
        </p>
        <img class="col-12 align-center" src="/assets/pepe-music.gif"> 
    </div>
    <br>
</section>

<section class="section">
    <div class="row">
        <p class="col-12 align-center">
            If you like me or  
        </p>
    </div>
    <br>
</section>



