<html lang="en">
    <head>
        <title>Grim Blog</title>
        <link rel="stylesheet" href="/less-css/styles.css">
        <link rel="stylesheet" href="/css/keyframes.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
        <base url="https://grimfilerino.com/">
        <meta charset="UTF-8">   
        <meta name="description" content="Grimfilerino portfolio">
        <meta name="author" content="Grimfilerino">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Blog, Code, Developer, Typescript, Javascript, C, Funbutler, MongoDB, GOLang">
    </head>
    <body>
        <header>
            <div class="row">
                <div class="align-center col-1">
                    <a class="header-title grimfilerino" href="/">
                        <img class="logo" src="/favicon.ico" alt="My Logo" />
                        <h2>GrimFilerino</h2>
                    </a>
                </div>

                <div class="col-10 align-center">
                    <a style="opacity: 0;" href="/dungeon">Important Link</a>
                </div>

                <div class="align-center col-1">
                    <a class="header-title" href="https://grimfilerino.com">Portfolio</a>
                </div>
            </div>
        </header>
        
        <div class="aside-toggle" id="aside-toggle">
            <i class="fa fa-bars"></i>
        </div>

        <div class="overlay-aside" id="overlay-aside"></div>

        <aside>
            <div class="container" id="blog-list-aside">
                <div class="section-content row">
                    <p class="col-12">Very empty and right now.</p> 
                </div>
            </div>
        </aside>

        {{body}}

        
        <br>
        <br>
        <br>

        <footer name="footer">
            <div class="row">
                <div class="col-2 align-left">
                </div>
                <div class="col-8">
                    <a style="opacity: 0;" href="/dungeon">Important Link</a>
                </div>

                <div class="col-2 align-right">
                    <ul class="link-list">
                        <li><a href="https://grimfilerino.itch.io/" target="_blank">Itch.io</a></li>

                        <li><a href="https://www.linkedin.com/in/grimfilerino/" target="_blank">Linked-In</a></li>

                        <li><a href="https://github.com/GrimFilerino" target="_blank">Github</a></li>
                    </ul>
                </div>
        </footer>

    </body>

    <script>


        (async () => {
            let blogs = [];
            let blogsFiltered = [];
            let categories = [];

            let currentPage = "";
            try {
                let res = await fetch("/blogs");
                blogs = await res.json();
                blogsFiltered = blogs;
            } catch(err) {
                console.log(err);
            }

            try {
                let res = await fetch("/categories");
                categories = await res.json();
            } catch(err) {
                console.log(err);
            }
            
            if(window.location.pathname.includes("blogs")){
                currentPage = window.location.pathname.split("blogs")[1];
                currentPage = currentPage.replace('/', '');

                if(currentPage.includes("#")) {
                    currentPage = currentPage.split("#")[0];
                }
            }

                        
            if(blogs) {
                    
                let sideMenu = (search = "") => {
                    let blogList = document.getElementById("blog-list-aside");

                    if(blogList) {
                        let html = `<div class="close-btn" id="close-aside">
                                        <i class="fa fa-close"></i>
                                    </div>
                                    <!--<div class="aside-input">
                                        <form>
                                            <input type="text" placeholder="Search blogs..." id="blog-search">
                                        </form>
                                    </div>-->
                                    <ul class='category-list'>`;

                        for(let category of categories) {
                            let blogsInSection = blogsFiltered.filter((b) => b.category == category.type);
                            category.isExpanded = !category.isExpanded 
                                ? blogsInSection.some((b) => b.name == currentPage) : category.isExpanded;

                            html += `<li class="category-item ${category.isExpanded ? 'expanded' : ''}" id="${category.type}">
                                        <i id="${category.type}" class="ph ph-caret-line-right"></i>
                                        <i id="${category.type}" class="ph ph-caret-line-down"></i>
                                        ${category.name}
                                    `;

                            if(blogsInSection.length) {
                                html += `<ul class='blog-list' id="blog-list">`;

                                for(let blog of blogsInSection) {
                                    let underList = ""

                                    let isCurrentlViewed = currentPage === blog.name;

                                    if(currentPage != "" && isCurrentlViewed) {
                                        let sections = blog.sections;

                                        if(sections.length) {
                                            if(blog.listStyle != "number") {
                                                underList = `<br><ul class='under-list ${blog.listStyle}'>`

                                                for(let section of sections) {
                                                    underList += `<li><a href="#${section.id}">${section.name}</a></li>`
                                                }
                                                underList += "</ul>"
                                            }
                                            else {
                                                underList = `<br><ol class='under-list'>`

                                                for(let section of sections) {
                                                    underList += `<li><a href="#${section.id}">${section.name}</a></li>`
                                                }
                                                underList += "</ol>"
                                            }
                                        }
                                    }

                                    html += `<li><a class="${isCurrentlViewed ? 'selected' : ''}" href="/blogs/${blog.name}">${blog.name}</a>${underList}</li>` 
                                }
                            }
                            else {
                                html += `<br><span>Very empty here right now</span>`
                            }
                        }

                        html += "</ul>"

                        blogList.innerHTML = html;

                        let searchBar = document.getElementById('blog-search');
                        
                        if(searchBar) {
                            searchBar.value = search;
                        }
                    }


                };

                sideMenu();

                for(let category of categories) {
                    document.getElementById(`${category.type}`).addEventListener('click', (e) => {
                        if(e.target.id == category.type) {
                            toggleCategory(e.target.id);
                        }
                    });
                }

                document.getElementById('aside-toggle').addEventListener('click', () => {
                    blogList.classList.add("enabled");
                });

                document.getElementById('close-aside').addEventListener('click', () => {
                    blogList.classList.remove("enabled");
                });

                document.getElementById('overlay-aside').addEventListener('click', () => {
                    if(blogList.classList.contains("enabled")) {
                        blogList.classList.remove("enabled");
                    }
                });

                if(document.getElementById('blog-search') !== null) {
                    document.getElementById('blog-search').addEventListener('blur', () => {
                        let search = document.getElementById('blog-search');

                        if(!search) return;

                        let value = search.value;

                        console.log(value);

                        if(value) {

                            let fuzzySearch = (string, compare, ratio) => {
                                let s1 = string.toLowerCase();
                                let s2 = compare.toLowerCase();

                                var match = 0;
                                for(let i = 0; i < s2.length; i++) {
                                    s1.indexOf(s2[i]) > -1 ? match++ : match--;
                                }

                                console.log("le fil");

                                return (match/s1.length >= ratio || compare == "");
                            }

                            blogsFiltered = blogs.filter((b) => fuzzySearch(b.name, String(value), 0.5)); 
                            sideMenu(value);
                        } else {
                            blogsFiltered = blogs;
                        }

                    });
                }
            }
        })();

       
       
        function toggleCategory(id) {
            let categoryEl = document.getElementById(id);
            categoryEl.classList.contains("expanded") 
                ? categoryEl.classList.remove("expanded")
                : categoryEl.classList.add("expanded");

            console.log("clicked");
        }
    </script>

</html>
