/* ===== KEYFRAMES ===== */

@keyframes goldBorder {
    10% {
        background: radial-gradient(circle, rgb(255, 215, 0) 62%, rgb(255, 255, 255) 100%);
    }
    50% {
        background: radial-gradient(circle, rgb(255, 215, 0) 79%, rgb(255, 255, 255) 100%);
    }
    90% {
        background: radial-gradient(circle, rgb(255, 215, 0) 30%, rgb(255, 255, 255) 100%);
    }
}
